body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

a{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

.instagram-phone{
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

#phone1 {
    position: relative;
    height:40em;
    right:10em;
}

#phone2 {
    position: relative;
    height:40em;
    left: 10em;
    bottom:1em;

}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    height:6em;
}

.instagram-relogin{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
  padding-left: 4em;
}

.group{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width:100%;
    padding: 1.5rem 0;
    border: 1px solid lightgrey;
    min-height: 19rem;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}


.app-download img{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.instagram-logo{
    height:3rem;
}

.link-blue{
    color: #0095f6;
    cursor: pointer;
    font-weight: 600;
}

.instagram-login{
    background-color: #0095f5;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

#media{
    position: absolute;
    top: 99%;
    width: 50%;
}

#media ul li{
    display: inline-block;
    list-style-type: none;
}

#media ul li a{
    font-size: 12px;
    color: #8e8e8e;
}

#phone2:hover {
    z-index: 1;
}

#direitos{
    text-decoration: line-through;
}


@media only screen and (max-width: 1024px) {

    .instagram-wrapper{
        width: 90%;
    }

    .group{
        width: 100%;
    }

    #media{
        position: absolute;
        top: 100%;
        width: 50%;
    }

    .instagram-relogin{
        width: 100%;
    }
  }

  @media only screen and (max-width: 650px) {

    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-relogin{
        width:100%;
    }

  }